[submodule "litecartes-be"]
	path = litecartes-be
	url = https://github.com/devanfer02/litecartes-be
[submodule "litecartesProject-FrontEnd"]
	path = litecartesProject-FrontEnd
	url = https://github.com/ryoaditarta/litecartesProject-FrontEnd
